A greenhouse gas (GHG) is a gas that traps heat in the atmosphere. Greenhouse gases let sunlight pass through the atmosphere but prevent heat from leaving the atmosphere, also known as the greenhouse effect. Greenhouse gases are essential to keeping the Earth warm; without them, the Earth would be an average of about 0°F. The primary greenhouse gases in Earth’s atmosphere are water vapor, carbon dioxide, methane, nitrous oxide, and ozone.
  
Carbon dioxide (CO2) is a colourless, odourless and non-poisonous gas formed by combustion of carbon and in the respiration of living organisms and is considered a greenhouse gas. Emissions means the release of greenhouse gases and/or their precursors into the atmosphere over a specified area and period of time. Carbon dioxide emissions or CO2 emissions are emissions stemming from the burning of fossil fuels and the manufacture of cement; they include carbon dioxide produced during consumption of solid, liquid, and gas fuels as well as gas flaring.

In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('owid-co2-data.csv')

In [4]:
df.head()

,iso_code,country,year,co2,co2_per_capita,trade_co2,cement_co2,cement_co2_per_capita,coal_co2,coal_co2_per_capita,...,ghg_excluding_lucf_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,primary_energy_consumption,energy_per_capita,energy_per_gdp
0,AFG,Afghanistan,1949,0.015,0.002,NaN,NaN,NaN,0.015,0.002,...,NaN,NaN,NaN,NaN,NaN,7624058.0,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1950,0.084,0.011,NaN,NaN,NaN,0.021,0.003,...,NaN,NaN,NaN,NaN,NaN,7752117.0,9.421400e+09,NaN,NaN,NaN
2,AFG,Afghanistan,1951,0.092,0.012,NaN,NaN,NaN,0.026,0.003,...,NaN,NaN,NaN,NaN,NaN,7840151.0,9.692280e+09,NaN,NaN,NaN
3,AFG,Afghanistan,1952,0.092,0.012,NaN,NaN,NaN,0.032,0.004,...,NaN,NaN,NaN,NaN,NaN,7935996.0,1.001732e+10,NaN,NaN,NaN
4,AFG,Afghanistan,1953,0.106,0.013,NaN,NaN,NaN,0.038,0.005,...,NaN,NaN,NaN,NaN,NaN,8039684.0,1.063052e+10,NaN,NaN,NaN

In [5]:
df.shape

(25191, 60)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25191 entries, 0 to 25190
Data columns (total 60 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   iso_code                             21960 non-null  object
 1   country                              25191 non-null  object
 2   year                                 25191 non-null  int64
 3   co2                                  23949 non-null  float64
 4   co2_per_capita                       23307 non-null  float64
 5   trade_co2                            3976 non-null   float64
 6   cement_co2                           12248 non-null  float64
 7   cement_co2_per_capita                12218 non-null  float64
 8   coal_co2                             17188 non-null  float64
 9   coal_co2_per_capita                  16860 non-null  float64
 10  flaring_co2                          4382 non-null   float64
 11  flaring_co2_per_capita               4381 non-null   float64
 12  gas_co2                              8845 non-null   float64
 13  gas_co2_per_capita                   8835 non-null   float64
 14  oil_co2                              20539 non-null  float64
 15  oil_co2_per_capita                   20181 non-null  float64
 16  other_industry_co2                   1999 non-null   float64
 17  other_co2_per_capita                 1999 non-null   float64
 18  co2_growth_prct                      24931 non-null  float64
 19  co2_growth_abs                       23585 non-null  float64
 20  co2_per_gdp                          15389 non-null  float64
 21  co2_per_unit_energy                  9141 non-null   float64
 22  consumption_co2                      3976 non-null   float64
 23  consumption_co2_per_capita           3976 non-null   float64
 24  consumption_co2_per_gdp              3761 non-null   float64
 25  cumulative_co2                       23949 non-null  float64
 26  cumulative_cement_co2                12248 non-null  float64
 27  cumulative_coal_co2                  17188 non-null  float64
 28  cumulative_flaring_co2               4382 non-null   float64
 29  cumulative_gas_co2                   8845 non-null   float64
 30  cumulative_oil_co2                   20539 non-null  float64
 31  cumulative_other_co2                 1999 non-null   float64
 32  trade_co2_share                      3976 non-null   float64
 33  share_global_co2                     23949 non-null  float64
 34  share_global_cement_co2              12248 non-null  float64
 35  share_global_coal_co2                17188 non-null  float64
 36  share_global_flaring_co2             4382 non-null   float64
 37  share_global_gas_co2                 8845 non-null   float64
 38  share_global_oil_co2                 20539 non-null  float64
 39  share_global_other_co2               1999 non-null   float64
 40  share_global_cumulative_co2          23949 non-null  float64
 41  share_global_cumulative_cement_co2   12248 non-null  float64
 42  share_global_cumulative_coal_co2     17188 non-null  float64
 43  share_global_cumulative_flaring_co2  4382 non-null   float64
 44  share_global_cumulative_gas_co2      8845 non-null   float64
 45  share_global_cumulative_oil_co2      20539 non-null  float64
 46  share_global_cumulative_other_co2    1999 non-null   float64
 47  total_ghg                            5651 non-null   float64
 48  ghg_per_capita                       5651 non-null   float64
 49  total_ghg_excluding_lucf             5651 non-null   float64
 50  ghg_excluding_lucf_per_capita        5651 non-null   float64
 51  methane                              5655 non-null   float64
 52  methane_per_capita                   5655 non-null   float64
 53  nitrous_oxide                        5655 non-null   float64
 54  nitrous_oxide_per_capita             5655 non-null   float64
 55  population                           22892 non-null  float64
 56  gdp                                  13538 non-null  float64
 57  primary_energy_consumption           8690 non-null   float64
 58  energy_per_capita                    8681 non-null   float64
 59  energy_per_gdp                       6803 non-null   float64
dtypes: float64(57), int64(1), object(2)
memory usage: 11.5+ MB

In [7]:
# Creating a subset of regions 
regions = df[(df['country'] == 'Africa' ) | (df['country'] == 'Asia')|(df['country'] == 'Asia (excl. China & India)')|
(df['country'] == 'EU-27')|(df['country'] == 'EU-28')|(df['country'] == 'Europe')| (df['country'] == 'Europe (excl. EU-27)')| 
(df['country'] == 'Europe (excl. EU-28)')| (df['country'] == 'International transport')|(df['country']== 'North America')|
(df['country'] == 'South America')]
regions = regions.loc[regions['year'] >= 2000]
regions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 231 entries, 188 to 20867
Data columns (total 60 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   iso_code                             0 non-null      object
 1   country                              231 non-null    object
 2   year                                 231 non-null    int64
 3   co2                                  231 non-null    float64
 4   co2_per_capita                       210 non-null    float64
 5   trade_co2                            200 non-null    float64
 6   cement_co2                           210 non-null    float64
 7   cement_co2_per_capita                210 non-null    float64
 8   coal_co2                             210 non-null    float64
 9   coal_co2_per_capita                  210 non-null    float64
 10  flaring_co2                          210 non-null    float64
 11  flaring_co2_per_capita               210 non-null    float64
 12  gas_co2                              210 non-null    float64
 13  gas_co2_per_capita                   210 non-null    float64
 14  oil_co2                              231 non-null    float64
 15  oil_co2_per_capita                   210 non-null    float64
 16  other_industry_co2                   189 non-null    float64
 17  other_co2_per_capita                 189 non-null    float64
 18  co2_growth_prct                      231 non-null    float64
 19  co2_growth_abs                       231 non-null    float64
 20  co2_per_gdp                          190 non-null    float64
 21  co2_per_unit_energy                  200 non-null    float64
 22  consumption_co2                      200 non-null    float64
 23  consumption_co2_per_capita           200 non-null    float64
 24  consumption_co2_per_gdp              190 non-null    float64
 25  cumulative_co2                       231 non-null    float64
 26  cumulative_cement_co2                210 non-null    float64
 27  cumulative_coal_co2                  210 non-null    float64
 28  cumulative_flaring_co2               210 non-null    float64
 29  cumulative_gas_co2                   210 non-null    float64
 30  cumulative_oil_co2                   231 non-null    float64
 31  cumulative_other_co2                 189 non-null    float64
 32  trade_co2_share                      200 non-null    float64
 33  share_global_co2                     231 non-null    float64
 34  share_global_cement_co2              210 non-null    float64
 35  share_global_coal_co2                210 non-null    float64
 36  share_global_flaring_co2             210 non-null    float64
 37  share_global_gas_co2                 210 non-null    float64
 38  share_global_oil_co2                 231 non-null    float64
 39  share_global_other_co2               189 non-null    float64
 40  share_global_cumulative_co2          231 non-null    float64
 41  share_global_cumulative_cement_co2   210 non-null    float64
 42  share_global_cumulative_coal_co2     210 non-null    float64
 43  share_global_cumulative_flaring_co2  210 non-null    float64
 44  share_global_cumulative_gas_co2      210 non-null    float64
 45  share_global_cumulative_oil_co2      231 non-null    float64
 46  share_global_cumulative_other_co2    189 non-null    float64
 47  total_ghg                            19 non-null     float64
 48  ghg_per_capita                       19 non-null     float64
 49  total_ghg_excluding_lucf             19 non-null     float64
 50  ghg_excluding_lucf_per_capita        19 non-null     float64
 51  methane                              19 non-null     float64
 52  methane_per_capita                   19 non-null     float64
 53  nitrous_oxide                        19 non-null     float64
 54  nitrous_oxide_per_capita             19 non-null     float64
 55  population                           105 non-null    float64
 56  gdp                                  0 non-null      float64
 57  primary_energy_consumption           60 non-null     float64
 58  energy_per_capita                    60 non-null     float64
 59  energy_per_gdp                       0 non-null      float64
dtypes: float64(57), int64(1), object(2)
memory usage: 110.1+ KB

In [8]:
regions.head()

,iso_code,country,year,co2,co2_per_capita,trade_co2,cement_co2,cement_co2_per_capita,coal_co2,coal_co2_per_capita,...,ghg_excluding_lucf_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,primary_energy_consumption,energy_per_capita,energy_per_gdp
188,NaN,Africa,2000,886.562,1.094,-266.512,31.510,0.039,370.247,0.457,...,NaN,NaN,NaN,NaN,NaN,810984230.0,NaN,3192.725,3936.853,NaN
189,NaN,Africa,2001,884.168,1.064,-275.648,32.908,0.040,371.980,0.448,...,NaN,NaN,NaN,NaN,NaN,830902539.0,NaN,3317.609,3992.775,NaN
190,NaN,Africa,2002,892.575,1.049,-292.434,35.231,0.041,361.119,0.424,...,NaN,NaN,NaN,NaN,NaN,851298437.0,NaN,3354.459,3940.405,NaN
191,NaN,Africa,2003,967.220,1.109,-298.849,35.508,0.041,390.893,0.448,...,NaN,NaN,NaN,NaN,NaN,872248336.0,NaN,3513.656,4028.276,NaN
192,NaN,Africa,2004,1036.686,1.160,-320.442,38.170,0.043,417.515,0.467,...,NaN,NaN,NaN,NaN,NaN,893842786.0,NaN,3765.085,4212.245,NaN

In [21]:
df = df.sort_values("iso_code")

In [24]:
df["iso_code"].isnull().sum()

503

In [27]:
# Dropping regions from the main dataframe
df.drop(df.tail(503).index, inplace = True)

In [48]:
# Checking the dataframe if it contains any region name
df.loc[(df['country'] == 'Europe')|(df['country'] == 'Africa')|(df['country'] == 'Europe (excl. EU-27)')]

Empty DataFrame
Columns: [country, year, co2, co2_per_capita, oil_co2, oil_co2_per_capita, co2_growth_prct, co2_growth_abs, co2_per_gdp, co2_per_unit_energy, cumulative_co2, cumulative_oil_co2, share_global_co2, share_global_oil_co2, share_global_cumulative_co2, share_global_cumulative_oil_co2, total_ghg, ghg_per_capita, total_ghg_excluding_lucf, ghg_excluding_lucf_per_capita, methane, methane_per_capita, nitrous_oxide, nitrous_oxide_per_capita, population, gdp, primary_energy_consumption, energy_per_capita]
Index: []

[0 rows x 28 columns]

In [33]:
# Filtering the date 
df = df.loc[df['year'] >= 2000]

In [34]:
# Dropping columns which we don't need
df.drop(['iso_code'], axis=1, inplace=True)

In [35]:
# Checking the data after dropping and filtering the date
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4591 entries, 1052 to 25190
Data columns (total 54 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   country                              4591 non-null   object
 1   year                                 4591 non-null   int64
 2   co2                                  4534 non-null   float64
 3   co2_per_capita                       4513 non-null   float64
 4   cement_co2                           3073 non-null   float64
 5   cement_co2_per_capita                3060 non-null   float64
 6   gas_co2                              2481 non-null   float64
 7   gas_co2_per_capita                   2481 non-null   float64
 8   oil_co2                              4534 non-null   float64
 9   oil_co2_per_capita                   4513 non-null   float64
 10  other_industry_co2                   966 non-null    float64
 11  other_co2_per_capita                 966 non-null    float64
 12  co2_growth_prct                      4587 non-null   float64
 13  co2_growth_abs                       4532 non-null   float64
 14  co2_per_gdp                          3140 non-null   float64
 15  co2_per_unit_energy                  3679 non-null   float64
 16  consumption_co2                      2396 non-null   float64
 17  consumption_co2_per_capita           2396 non-null   float64
 18  consumption_co2_per_gdp              2242 non-null   float64
 19  cumulative_co2                       4534 non-null   float64
 20  cumulative_cement_co2                3073 non-null   float64
 21  cumulative_coal_co2                  2563 non-null   float64
 22  cumulative_flaring_co2               1507 non-null   float64
 23  cumulative_gas_co2                   2481 non-null   float64
 24  cumulative_oil_co2                   4534 non-null   float64
 25  cumulative_other_co2                 966 non-null    float64
 26  trade_co2_share                      2396 non-null   float64
 27  share_global_co2                     4534 non-null   float64
 28  share_global_cement_co2              3073 non-null   float64
 29  share_global_coal_co2                2563 non-null   float64
 30  share_global_flaring_co2             1507 non-null   float64
 31  share_global_gas_co2                 2481 non-null   float64
 32  share_global_oil_co2                 4534 non-null   float64
 33  share_global_other_co2               966 non-null    float64
 34  share_global_cumulative_co2          4534 non-null   float64
 35  share_global_cumulative_cement_co2   3073 non-null   float64
 36  share_global_cumulative_coal_co2     2563 non-null   float64
 37  share_global_cumulative_flaring_co2  1507 non-null   float64
 38  share_global_cumulative_gas_co2      2481 non-null   float64
 39  share_global_cumulative_oil_co2      4534 non-null   float64
 40  share_global_cumulative_other_co2    966 non-null    float64
 41  total_ghg                            3667 non-null   float64
 42  ghg_per_capita                       3667 non-null   float64
 43  total_ghg_excluding_lucf             3667 non-null   float64
 44  ghg_excluding_lucf_per_capita        3667 non-null   float64
 45  methane                              3667 non-null   float64
 46  methane_per_capita                   3667 non-null   float64
 47  nitrous_oxide                        3667 non-null   float64
 48  nitrous_oxide_per_capita             3667 non-null   float64
 49  population                           4536 non-null   float64
 50  gdp                                  3159 non-null   float64
 51  primary_energy_consumption           3696 non-null   float64
 52  energy_per_capita                    3687 non-null   float64
 53  energy_per_gdp                       2796 non-null   float64
dtypes: float64(52), int64(1), object(1)
memory usage: 1.9+ MB

In [36]:
df.isna().sum()

country                                   0
year                                      0
co2                                      57
co2_per_capita                           78
cement_co2                             1518
cement_co2_per_capita                  1531
gas_co2                                2110
gas_co2_per_capita                     2110
oil_co2                                  57
oil_co2_per_capita                       78
other_industry_co2                     3625
other_co2_per_capita                   3625
co2_growth_prct                           4
co2_growth_abs                           59
co2_per_gdp                            1451
co2_per_unit_energy                     912
consumption_co2                        2195
consumption_co2_per_capita             2195
consumption_co2_per_gdp                2349
cumulative_co2                           57
cumulative_cement_co2                  1518
cumulative_coal_co2                    2028
cumulative_flaring_co2                 3084
cumulative_gas_co2                     2110
cumulative_oil_co2                       57
cumulative_other_co2                   3625
trade_co2_share                        2195
share_global_co2                         57
share_global_cement_co2                1518
share_global_coal_co2                  2028
share_global_flaring_co2               3084
share_global_gas_co2                   2110
share_global_oil_co2                     57
share_global_other_co2                 3625
share_global_cumulative_co2              57
share_global_cumulative_cement_co2     1518
share_global_cumulative_coal_co2       2028
share_global_cumulative_flaring_co2    3084
share_global_cumulative_gas_co2        2110
share_global_cumulative_oil_co2          57
share_global_cumulative_other_co2      3625
total_ghg                               924
ghg_per_capita                          924
total_ghg_excluding_lucf                924
ghg_excluding_lucf_per_capita           924
methane                                 924
methane_per_capita                      924
nitrous_oxide                           924
nitrous_oxide_per_capita                924
population                               55
gdp                                    1432
primary_energy_consumption              895
energy_per_capita                       904
energy_per_gdp                         1795
dtype: int64

In [40]:
#Dropping columns which have a lot of missing values
df.drop(df.iloc[:, 4:8], inplace = True, axis = 1)

In [43]:
df.drop(df.columns[[6,7,12,13,14,16,17,18,19,21,22,24,25,26,27,29,31,32,33,34,36,49]],axis =1, inplace = True)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4591 entries, 1052 to 25190
Data columns (total 28 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   country                          4591 non-null   object
 1   year                             4591 non-null   int64
 2   co2                              4534 non-null   float64
 3   co2_per_capita                   4513 non-null   float64
 4   oil_co2                          4534 non-null   float64
 5   oil_co2_per_capita               4513 non-null   float64
 6   co2_growth_prct                  4587 non-null   float64
 7   co2_growth_abs                   4532 non-null   float64
 8   co2_per_gdp                      3140 non-null   float64
 9   co2_per_unit_energy              3679 non-null   float64
 10  cumulative_co2                   4534 non-null   float64
 11  cumulative_oil_co2               4534 non-null   float64
 12  share_global_co2                 4534 non-null   float64
 13  share_global_oil_co2             4534 non-null   float64
 14  share_global_cumulative_co2      4534 non-null   float64
 15  share_global_cumulative_oil_co2  4534 non-null   float64
 16  total_ghg                        3667 non-null   float64
 17  ghg_per_capita                   3667 non-null   float64
 18  total_ghg_excluding_lucf         3667 non-null   float64
 19  ghg_excluding_lucf_per_capita    3667 non-null   float64
 20  methane                          3667 non-null   float64
 21  methane_per_capita               3667 non-null   float64
 22  nitrous_oxide                    3667 non-null   float64
 23  nitrous_oxide_per_capita         3667 non-null   float64
 24  population                       4536 non-null   float64
 25  gdp                              3159 non-null   float64
 26  primary_energy_consumption       3696 non-null   float64
 27  energy_per_capita                3687 non-null   float64
dtypes: float64(26), int64(1), object(1)
memory usage: 1.0+ MB

In [45]:
df.head()

,country,year,co2,co2_per_capita,oil_co2,oil_co2_per_capita,co2_growth_prct,co2_growth_abs,co2_per_gdp,co2_per_unit_energy,...,total_ghg_excluding_lucf,ghg_excluding_lucf_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,primary_energy_consumption,energy_per_capita
1052,Aruba,2020,0.753,7.055,0.753,7.055,-11.51,-0.098,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,106766.0,NaN,NaN,NaN
1034,Aruba,2002,2.437,25.650,2.437,25.650,1.22,0.029,NaN,0.515,...,NaN,NaN,NaN,NaN,NaN,NaN,94992.0,NaN,4.729,49778.552
1035,Aruba,2003,2.561,26.399,2.561,26.399,5.11,0.125,NaN,0.486,...,NaN,NaN,NaN,NaN,NaN,NaN,97016.0,NaN,5.266,54290.270
1036,Aruba,2004,2.616,26.494,2.616,26.494,2.15,0.055,NaN,0.476,...,NaN,NaN,NaN,NaN,NaN,NaN,98744.0,NaN,5.492,55472.046
1037,Aruba,2005,2.719,27.179,2.719,27.179,3.92,0.103,NaN,0.458,...,NaN,NaN,NaN,NaN,NaN,NaN,100028.0,NaN,5.931,59305.478